<div data-role="page" data-add-back-btn="true">
  <div data-role="header">
    <h1><%=h @title %></h1> 
    <a href="#" onclick="$.mobile.changePage('/<%= params['direction'] %>', {reloadPage: true, changeHash: false},{ allowSamePageTranstion: true},{ transition: 'none'}); return false;" data-icon="refresh" class="ui-btn-right">Refresh</a>
  </div> 
  <div data-role="content">
    <ul data-role="listview">
      <% @data.each do |route| %>
        <li data-role="list-divider"><%=h route[:tag] %> @ <%=h route[:stop] %></li>
        <% if route[:times].empty? %>
          <li>None found</li>
        <% else %>
          <% route[:times][0, 3].each do |time| %>
            <li><%= time == 0 ? 'Arriving' : "#{time} minutes" %></li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div> 
  <div data-role="footer" data-position="fixed" data-id="footer" class="ui-bar">
    <h4><a href="mailto:bob@kludgebox.com?subject=muniup+feedback">Send Feedback</a></h4>
  </div>
</div>
